*{
margin:0; padding:0;box-sizing: border-box;
}
/*==========================================Body===========================*/
body{
text-size:15px;
background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("back.jpg");
background-repeat:no repeat; background-attachment:fixed;
background-size:cover;
font-family: 'Proza Libre', sans-serif;
color: white;
}
/*====================================Top Bar=====================================*/
nav{
width:100%; height:12vh;
background:rgba(0,0,0,0.5);
color:white;
display:flex; justify-content:space-between;
align-items:center;
position:sticky;
}
/*======================================Logo===========================*/
.logo{
width: 35%;
font-size:150%;
text-align:center;
}
.color{
color:orange;
}
/*===============================================Menu==============================*/
.menu{
width:40%;
display:flex; justify-content: space-around;
}
nav .menu a{
width:25%;
text-decoration:none;
color:white;
}
.menu a:hover{
color: orange;
}
.color1{
color:orange;
}
.color1:hover{
color:white;
}
/*=========================================Main======================================*/
main{
width:80%;
height: 100vh;
display:inline;
justify-content:center;
align-items:center;
text-align:center;
margin-left:9.5%;
}
section h2{
font-size: 300%; font-weight:140; letter-spacing:3px; 
text-shadow:2px 2px 4px black;
}
/*=====================================Image Styling==========================*/

#image{
margin:15px;
border-style:solid;
border-color: orange;
border-width:3px;
transition: all 0.2s linear;
}
#image:hover{
border-color: white;
border-width:7px;
background-color:white;
}

.portfolio {
  position: relative;
  text-align: center;
  color: white;
}

/*=========================================Change Contant In Main(h2)================*/
.change_content:after{
content: "";
animation: changetext 15s infinite linear;
color: orange;
}
@keyframes changetext{
  0%{content:"Visiting Cards";}
  20%{content:"Logos";}
  40%{content:"Brochure";}
  60%{content:"Packaging";}
  80%{content:"Posters";}
  100%{content:"Banners";}
}
/*==========================================Footer======================*/
.footer{
color: white;
display:flex; justify-content: right;
margin-right: 20px;
margin-left: 20px; 
margin-bottom: 25px;
}
